<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 Carlos Serramito Calvo <carlos@cabestro.es>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<Configuration status="error">
    <Properties>
        <Property name="app">todo</Property>
        <Property name="classpath">es.cabestro.todo</Property>
        <Property name="filename">D:\${app}</Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss,SSS}] ${app} %-5p (%C.%M:%L) - %m%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="File" fileName="${filename}.log" filePattern="${filename}-%i.log">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss,SSS}] %-5p (%C.%M:%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>    
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="${classpath}" level="debug">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
